.backdrop,
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
}

.backdrop {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.container {
    background: #fff;
    width: fit-content;
    height: fit-content;
    margin: auto;
    z-index: 1;
    padding: 20px;
    border-radius: var(--common-border-radius);
}